# Autonomous Data Scientist Backend Configuration
GROQ_API_KEY=
GROQ_API_URL=
GROQ_MODEL=

GEMINI_API_KEY=
GEMINI_MODEL=

OPENROUTER_API_KEY=
OPENROUTER_MODEL=

# Database Configuration (MongoDB)
MONGODB_URL=

# Security API Keys
API_KEY=
